 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 * {
     font-family: 'Work Sans', sans-serif;
 }

 header {
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
     padding: 20px 240px;
 }

 nav {
     display: flex;
 }


 .gamer {
     font-size: 45px;
     font-weight: 700;

 }

 .game-image {
     width: 85px;
     height: 35px;
     margin-right: 20px;
     margin-bottom: 15px;
 }

 .nav-bar {
     display: flex;
     align-items: center;
 }

 #color {
     color: palevioletred;
 }

 .nav-header {

     justify-content: space-between;
 }

 nav>ul {
     display: flex;
 }

 nav li {
     list-style: none;
     margin-right: 30px;
     font-size: 18px;
 }

 .lists {
     align-items: center;
 }

 nav li a {
     text-decoration: none;
     color: #3C354F;
 }

 .icone {
     width: 33.916px;
     height: 24px;
     margin-left: 25px;
 }

 .li-background {
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
     display: flex;
     width: 265px;
     height: 25px;
     padding: 18px 24px;
     align-items: center;
 }

 .banner {
     display: flex;
     justify-content: space-between;
     padding-right: 240px;
     align-items: center;
 }

 .banner-heading {
     color: #0B0223;
     font-size: 48px;
     font-weight: 600;
     margin-top: 145px;
     margin-left: 240px;
     margin-bottom: 20px;
 }

 .heading-2 {
     font-size: 95px;
     font-weight: 800;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .paragraph {
     color: #534C64;
     font-size: 20px;
     font-weight: 500;
     margin-left: 240px;
 }

 .banner-desc {
     background-image: url(../images/Group\ 14.png);
     width: 901px;
     height: 700px;
     fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
 }

 .button1 {
     padding: 21px 40px;
     gap: 10px;
     border-radius: 48px;
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     text-transform: uppercase;
     margin-left: 240px;
 }

 .button2 {
     padding: 21px 40px;
     gap: 10px;
     border-radius: 48px;
     background: #4EC5F7;
     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     text-transform: uppercase;
 }

 .banner-image {
     margin-left: 65px;
 }

 .section-2 {
     justify-content: center;
     padding: 120px 240px;
     text-align: center;
 }

 .online-game {
     align-items: center;
 }

 .heading-3 {
     color: #0B0223;
     font-size: 48px;
     font-weight: 700;
     margin-bottom: 15px;
 }

 .heading-4 {
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-size: 48px;
     font-weight: 700;
 }

 .image-2 {
     width: 342px;
     height: 400px;
     border-radius: 16px;
     display: flex;
     gap: 24px;
 }

 .sec-2-para {
     color: #534C64;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
     margin-bottom: 45px;
 }

 .image-para {
     display: flex;
     color: #534C64;
     font-size: 16px;
     font-weight: 500px;
     line-height: 30px;
     text-align: left;
     gap: 24px;
     height: 60px;
     align-items: center;
     margin-top: 25px;
 }

 .pera-3 {
     margin-right: 125px;
     margin-left: 95px;
 }

 .pera-4 {
     margin-left: 65px;
 }

 .section-3 {
     display: flex;
     padding: 60px 240px;
     justify-content: center;
     gap: 265px;
 }

 .section-3-head {
     margin-top: 135px;
     margin-left: 140px;
 }

 .play-image {
     position: relative;
     bottom: 275px;
 }

 .play-image-2 {
     width: 634.833px;
     height: 650px;
     margin-left: 145px;
 }
 .section-4{
    display: flex;
    padding: 10px 240px;
    justify-content: center;
 }
.section-5{
    display: flex;
    padding: 30px 350px;
}
.section-4:hover{
    
}
 .game-section {
     display: flex;
     width: 60px;
     height: 60px;
     gap: 15px;
     color: #0B0223;
     font-size: 20px;
     font-weight: 600;
     align-items: center;
     width: 243px;
     height: 80px;
     border-radius: 50px;
     border-color: palevioletred;
 }

